<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpServerAddress" value="ftp://ftp.nvg.ntnu.no" />
    <add key="CpcIndexFile" value="00_index_full.txt" />
    <add key="CpcPath" value="/pub/cpc/" />
    <add key="WhatsNewFile" value="whatsnew.txt" />
    <add key="RomsPath" value="" />
  </appSettings>
</configuration>